html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
}

.side-bar {
    margin: 0;
    border: 1px dotted red;
    display: block;
    width: 30%;
}
#map {
    border: 1px dotted blue;
    width: 100%;
    height: 100%;
}
.overlay {
    width: 75px;
    height: 50px;
    background-color: white;
    border: 1px dotted black;
    border-radius: 10px;
}
.info-title {
    display: block;
    background: #50627F;
    color: #fff;
    text-align: center;
    height: 24px;
    line-height:22px;
    border-radius:4px;
    padding:0px 10px;
}
#menu {
    display: flex;
    width: 100px;
    height: auto;
    font-size: 14px;
    z-index: 10;
}

#menu .menu-item {
    width: 50%;
    height: auto;
}
#menu .update{
    background-color: blue;
}
input {
    display: block;
}

.btn-group {
    display: flex;
}
.form-textarea {
    height: 100px;
}
.close {
    margin-left: 10px;
    color: #888;
    width: 17px;
    height: 17px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}
.close:hover {
    cursor: pointer;

}
.card-header {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 10px;
}
.card-text{
    white-space: normal;
    word-break:keep-all;


}
.card {
    font-size: 14px;
    width: 250px;
    animation: popup 0.25s;
}

@keyframes popup {

    from { transform:scale(0.8); }
    /* 95% { transform: scale(1.05);} */
    to { transform: scale(1); }

}
